<section class="page-header">
	<h1 class="project-name">Analytics Warehouse</h1>
	<h2 class="project-tagline"></h2>
	<a href="/" class="btn">Home</a>
	<a href="{{ site.baseurl }}/onboarding-guide/" class="btn">Onboarding Guide</a>
	<a href="{{ site.baseurl }}/arch-principles-tenet/" class="btn">Architectural tenet</a>
	<a href="{{ site.baseurl }}/code-templates/" class="btn">Code templates</a>
	<a href="{{ site.baseurl }}/api-specs/" class="btn">API Specs</a>
	<a href="{{ site.baseurl }}/use-cases/" class="btn">Use-Cases</a>
	<a href="{{ site.baseurl }}/faq/" class="btn">FAQ</a>
	<a href="mailto:seitzf@mediamarktsaturn.com" class="btn">Contact us</a>
</section>