<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--{% include scripts.html %} -->
    {% include stylesheets.html %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap" rel="stylesheet">
  </head>
  <body>
      {% include header.html %}
    <section class="main-content">
      {{ content }}
      {% include footer.html %}
    </section>
  </body>
</html>